body {
  margin: 0;
  min-width: 768px;
  font-family: 'Noto Sans KR', sans-serif;
}

/* side navbar */

#side-navbar {
  background-color: black;
  height: 100%;
  width: 250px;
  position: fixed;
}

/* 코드를 입력하세요! */
a {
  text-decoration: none;
  color: #58595B;
}

ul {
  padding-left: 0;
}

li {
  padding-left: 22px;
  margin-bottom: 15px;
  margin-top: 15px;
}

.logo {
  display: block;
  margin-top: 30px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}
.icon {
  margin-top: 60px;
  padding-top: 25px;
  text-align: center;
  word-spacing: 13px;
}
/* main */

#main {
  margin-left: 250px;
}

#main .hero-header {
  text-align: center;
  background-image: url("../images/hero_header.jpg");
  background-size: cover;
  background-position: center center;
  height: 750px;
  line-height: 750px;
}

#main .info {
  display: inline-block;
  line-height: normal;
  vertical-align: middle;
}

#main h1 {
  margin: 0;
  margin-bottom: 40px;
  color: white;
  font-size: 38px;
}

#main a {
  padding: 10px 40px;
  border: 2px solid white;
  font-size: 18px;
  color: white;
  text-decoration: none;
}
