/* 01_nav.css */
/* 아래에 코드를 작성해 주세요. */
body {
    margin: 0;
}
.navbar {
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: rgb(49, 43, 43);
    line-height: 80px;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
#logo {
    vertical-align: middle;
    line-height: normal;
}
.menu {
    float: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.menu li {
    float: left;
}
.menu li a {
    text-decoration: none;
    margin-left: 32px;
    color: white;
}
.menu li a:hover {
    color: #ffff00;
}